<!-- Inherit parent template -->
{% extends "core/base.html" %}

<!-- load static -->
{% load static %}

<!-- block tag title -->
{% block title %}Password Reset Complete{% endblock title %}


<!-- block tag content -->
{% block main-content %}
    <div class="container">
        <div class="row my-3">
        <div class="col-sm-6 offset-sm-3 mt-5">
        <h3 class="text-center mt-3">Reset Password Completed</h3>
        <div class="text-center mt-3">
            <iframe src="https://giphy.com/embed/ibolLe3mOqHE3PQTtk" width="200" height="200" frameborder="0" class="giphy-embed" allowfullscreen></iframe>
        </div>
        </div>
        </div>
    </div
{% endblock main-content %}